.enter {
    opacity: 0;
  }
  .enterActive {
    opacity: 1;
  
    transition: opacity .5s cubic-bezier(0.4,0,0.2,1) .3s;
  }
  .exit {

    opacity: 1;
  }
  .exitActive {
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.4,0,0.2,1) .3s;
  }
  