.ProductDetails {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}
.ProductContainer {
  position: relative;
}
.ProductContainer > div {
  padding: 1.8rem 0;
}
.Title {
  font-size: 3rem !important;
  margin-bottom: 1rem;
}
.Category{
    position: relative;
}
.CategoryName {
  color: var(--clr-wb-900);
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 1.7rem;
}

.Arrow {
  position: absolute;
  font-size: 2rem;
  right: -100%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.Arrow img{
  height:2rem;
}