.ContainerSlider {
  width: 100%;
  /* min-height: 1000px; */
  /* margin-bottom: 6rem; */
  position: relative;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}
.Img {
  display: block;
}
.ImgMobile {
  display: none;
  object-fit: cover;
}

.SlideFirst {
  position: relative;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.Slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.SlideActive {
  opacity: 1;
}

.BtnSlide {
  padding: 0.5rem;
  border-radius: 50%;
  background: transparent;
  border: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-in;
}

.BtnSlide:hover {
  opacity: 1;
}
.BtnSlide img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  pointer-events: none;
}
.Prev {
  top: 50%;
  left: 1.4rem;
  transform: translateY(-60%);
}
.Next {
  top: 50%;
  right: 1.4rem;
  transform: translateY(-60%);
}

.DotContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 7;
}
.Dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.ActiveDot {
  background: rgb(32, 32, 32);
}
@media screen and (max-width: 900px) {
  /* .ImgMobile {
    display: block;
  }
  .Img {
    display: none;
  } */
  .BtnSlide {
    opacity: 0.8;
  }
}
