.Backdrop {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  background-color: var(--background-blur);
  z-index: 20;
  /* overflow: hidden; */
}
.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 30;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.6rem 0;
  box-shadow: 0 -3px 6px 0 rgb(0 0 0 / 10%);
}
.Footer button {
  border: 1px solid #234976;
  min-width: 45%;
  padding-top: 1.4rem;
  padding-bottom: 1.1rem;
  font-family: amiko-bold;
  font-size: 1.3rem;
  border-radius: 3rem;
}
.call {
  color: #234976;
  background-color: transparent;
}
.sub {
  color: white;
  background-color: #234976;
}
.Popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: white;

  transition: height 0.5s ease-in-out;
  background-color: white;
}
.PopupDetails {
  height: 100%;
  overflow: hidden;
  padding: 2rem;
  padding-top: 4rem;
  position: relative;
  width: 100%;
}
.Title {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}
.Title img {
  height: 4rem;
  margin-right: 2rem;
}
.Title p {
  margin: 0;
  font-size: 2rem;
  font-family: amiko-bold;
}
.Close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 2.8rem;
}
.Check {
  display: flex;
}
.Check p {
  margin: 0;
  font-size: 0.8rem;
}
.Person {
  transform: scale(0.8);
  display: block;
}
.RequestNumberInput {
  margin: 2.5rem 0px;
  padding: 0.6rem 1.3rem;
  background-color: transparent;
  width: 100%;
  font-size: 1.6rem;
}
.RequestNumberInput:focus {
  outline: none;
}
.RequestSubmit {
  border: 0;
  background-color: #234976;
  color: #fff;
  font-size: 15px;
  font-family: amiko-bold;
  padding: 1.3rem 3rem 1rem;
  border-radius: 3rem;
  margin: 2.5rem 0;
}
.ErrorMessage {
  font-size: 1.2rem;
  font-family: amiko-bold;
  color: red;
  position: absolute;
  top: -2px;
}
.RequestTandC {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}