.Footer {
  width: 80%;
  margin: 3rem auto;
}
.Topbar {
  display: inline-block;
  width: 100%;
  border-top: 2px solid var(--clr-wb-200);
  border-bottom: 2px solid var(--clr-wb-200);
}

.FooterTable {
  display: flex;
  height: 100%;
}
.FooterTable > div {
  padding: 3rem 1rem;
  width: 25%;
}
.Title {
  font-family: amiko-bold;
  margin: 0.8rem;
  margin-bottom: 2rem;
  font-size: 1.1em;
}
.FooterItem {
  font-size: 0.9em;
  margin: 0.8rem;
  color: var(--clr-wb-700);
  cursor: pointer;
}
.FooterItem:hover,
FooterItem:active,
FooterItem:focus {
  font-family: amiko-med;
  color: var(--clr-wb-900);
}

.DropDown {
  display: none;
}
.SocialBox {
  border-bottom: 2px solid var(--clr-wb-200);
  padding: 0.5rem 3rem;
}

@media only screen and (max-width: 62.5em) {
  .DropDown {
    display: block;
  }
  .Topbar {
    border: 0;
    border-bottom: 4px solid var(--clr-wb-200);
  }
  .FooterTable {
    display: none;
  }
  .SocialBox {
    border-top: 2px solid lvar(--clr-wb-200);
  }
}
@media only screen and (max-width: 47em) {
  .Footer {
    width: 90%;
  }
  .SocialBox {
    border-top: 2px solid var(--clr-wb-200);
    padding: 0.5rem 0;
  }
}
