.Banner {
  display: flex;
  margin: 2rem 1rem;
  position: relative;
}
.BannerShadow {
  box-shadow: var(--shadow);
}

.RightAl {
  flex-direction: row-reverse;
  /* text-align: right; */
}
.Banner > div {
  position: relative;
  width: 50%;
  /* margin: 3rem 0; */
  min-height: 37rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 2rem 3rem;
}
.BannerHalf {
  margin: 0rem 0.5rem !important;
  box-shadow: var(--shadow);
}
.Title {
  font-size: 2.2rem;
  font-weight: 600;
  width: 80%;
}

.Underline {
  width: 50%;
  border-bottom: 2px solid var(--clr-wb-900);
  margin: 0.5rem 0;
}
.Product {
  position: absolute;
  min-width: 17rem;
  width: 40%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.KnowButton {
  font-size: 1.6rem;
  padding: 0.8rem 1rem;
  padding-bottom: 0.7rem;
  background-color: var(--clr-wb-900);
  color: var(--clr-wb-100);
  display: inline-block;
  border-radius: 2rem;
  margin: 3rem 0rem;
  cursor: pointer;
  text-decoration: none;
}

.BannerImage {
  padding: 0 !important;
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.KnowButton:hover,
.KnowButton:active,
.KnowButton:focus {
  background-color: var(--clr-wb-700);
}
.BottomText {
  font-size: 1.3rem;
  color: var(--clr-wb-400);
  position: absolute;
  bottom: 20%;
  margin: auto;
}
.BottomText::after {
  content: "Terms & Condition Apply";
  position: absolute;
  font-size: 1rem;
  bottom: -100%;
  right: 10%;
}
.SubImage {
  width: 40%;
  margin: 0.6rem 0rem;
}
.SubText {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.6rem;
  color: var(--clr-wb-400);
}

@media only screen and (max-width: 47em) {
  .Banner {
    flex-direction: column-reverse;
    margin: 3rem 0;
  }
  .Banner > div {
    width: 100%;
    margin: 0;
    min-height: 32rem;
  }
  .BannerHalf {
    margin: 3rem 0 !important;
    box-shadow: var(--shadow);
  }

  .Title {
    font-size: 1.7rem;
    font-weight: 600;
    width: 90%;
  }
  .BottomText {
    bottom: 15%;
  }
  .KnowButton {
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
    padding-bottom: 0.6rem;
    margin: 3rem 0rem;
  }
  .BottomText {
    font-size: 1.1rem;
  }
  .BottomText::after {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 35em) {
  .Title {
    width: 100%;
  }
}
