.App {
  padding-top: 3rem;
}
.Disclaimer{
  text-align: center;
  font-size: 1.2rem;
  color:gray;
  margin:1rem;
  margin-top: 2rem;
}
.NotFound{
  text-align: center;
  padding-top: 10rem;
  font-size: 5rem;
}