/* .ProductsPage { */
/* background-color: #f4f4f4; */
/* } */
.ProductsListContainer {
  background-color: #f4f4f4;
  /* padding:1rem 0; */
}
.DisplayProducts {
  /* height: 27rem; */
  padding-top: 5rem;
  position: relative;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.DisplayProducts img {
  height: 20rem;
  width: auto;
}
.Products {
  position: relative;
  /* margin: 6rem 0rem; */
  margin: 9rem 6rem;
  height: max(80vh, 60rem);
  max-height: 100rem;
}
.BgImage {
  width: 100%;
  height: 100%;
  margin: auto;
  box-shadow: 0 0 2rem 1rem gray;
  background-position-x: left;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.Image {
  width: 100%;
  height: 80vh;
  margin: auto;
  box-shadow: 0 0 2rem 1rem gray;
}

.ProductContainer {
  position: absolute;
  background-color: white;
  height: calc(100% + 4rem);
  top: -2rem;
  right: 5%;
  width: 32rem;
  padding: 2rem;
  padding-top: 0;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* box-shadow: 0rem 1rem 2rem 0rem gray,0rem -1rem 2rem 0rem gray; */
  /* max-width: 35rem; */
}
.CatBig {
  position: absolute;
  font-size: 1.2rem;
  font-family: amiko-med;
  top: 2rem;
  left: 2rem;
  color: var(--clr-wb-100);
  border-radius: 1.6rem;
  padding: 4px 6px;
  padding-top: 6px;
  z-index: 2;
}
.Heart {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--clr-wb-700);
}
.ProductImg {
  display: flex;
  justify-content: center;
}
.ProductImg > img {
  width: 70%;
  margin: auto;
}
.Color {
  font-weight: 600;
  font-size: 1.2rem;
  color: gray;
  margin: 0.5rem 0;
}
.Color > div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.Color > div > div {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 3px solid lightgray;
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Color > div > div:last-child {
  border: 3px solid white;
}
.Color > div > div > div {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  /* border: 4px solid lightgray; */
}
.Variants {
  font-weight: 600;
  font-size: 1.2rem;
  color: gray;
  margin: 0.5rem 0;
}
.Variants > div {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Variants > div > div {
  background-color: var(--clr-wb-100);
  border: 2px solid var(--clr-wb-200);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  margin: 0.2rem;
}
.Variants > div > div:hover,
.Variants > div > div:active,
.Variants > div > div:focus {
  background-color: var(--background-gray);
}
.Desc {
  font-size: 1.6rem;
  font-family: amiko-med;
  margin-top: 0.6rem;
}
.Notes {
  margin-left: -1rem;
  font-size: 1.4rem;
}
.LearnMore {
  width: 100%;
  /* margin: auto; */
  font-size: 1.7rem;
  text-align: center;
  background-color: black;
  color: white;
  /* border: 1px solid black; */
  border-radius: 1.6rem;
  padding: 0.5rem 0;
  box-shadow: 0 0 1rem 0rem gray;
}

@media only screen and (max-width: 60em) {
  .BgImage {
    background-position-x: right;
  }

  .ProductContainer {
    left: 2.5%;
  }
}

@media only screen and (max-width: 47em) {
  .Products {
    position: relative;
    margin: 8rem 3rem;
    height: max(80vh, 60rem);
    max-height: 100rem;
  }
  .BgImage {
    background: transparent !important;
    width: 0px;
    margin: auto;
    box-shadow: none;
  }
  .ProductContainer {
    position: absolute;
    background-color: white;
    right: 50%;
    left: auto;
    transform: translateX(50%);
    box-shadow: 0 0 2rem 1rem gray;
  }
}
