.KnowMore {
  margin: 4% auto;
  width: min(100%, 130rem);
  display: flex;
  flex-direction: column;
  position: relative;
}
/* .KnowContainer {
  display: flex;
  justify-content: space-between;
  margin:0 1rem;

}
.KnowContainer > div {
    position: relative;
  width: 50%;
  margin: 30px 0;
  min-height: 38rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 2rem 3rem;
}
.Title{
    font-size: 2.2rem;
    font-weight: 600;
    width: 80%;
}
.Underline{
    width:50%;
    border-bottom: 2px solid black;
    margin: 0.5rem ;
}
.KnowButton{
    padding:0.8rem 1rem;
    padding-bottom: 0.7rem;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 2rem;
    margin:3rem 1rem;
}
.KnowButton:hover{
    background-color: gray;
}
.Warrenty{
    font-size: 1.3rem;
    color:gray;
    position: absolute;
    bottom:20%;
    margin: auto;

}
.Warrenty::after{
    content: "Terms & Condition Apply";
    position:absolute;
    font-size: 1rem;
    bottom: -100%;
    right:10%;
}
.SubImage{
  width: 40%;
}
@media only screen and (max-width: 47em) {
  .KnowContainer {
    flex-direction: column-reverse;
  }
  .KnowContainer > div {
      width: 100%;
      margin: 0 0 !important;
  }
} */
