.FeaturedProduct {
  font-size: 1.5rem;
  margin: 5px;
  border-radius: 1em;
  padding: 5% 4%;
  padding-bottom: 0;
  position: relative;
  background-color: var(--background-gray);
  cursor: pointer;
}
.CatBig {
  position: absolute;
  font-size: 1.2rem;
  font-family: amiko-med;
  top: 2rem;
  left: 2rem;
  color: var(--clr-wb-100);
  border-radius: 1.6rem;
  padding: 4px 6px;
  padding-top: 6px;
}

.Cat {
  position: absolute;
  font-size: 1.1rem;
  font-family: amiko-med;
  top: 1rem;
  left: 1rem;
  color: var(--clr-wb-100);
  border-radius: 1.4rem;
  padding: 3px 5px;
  padding-top: 5px;
}
.Img {
  /* border: 1px solid black; */
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.FeaturedProduct:hover .Img {
  transform: scale(1.05);
}
.TitleBig {
  font-size: 2.4rem;
  font-family: amiko-med;
  margin: 0.6rem 0;
}
.Title {
  font-size: 1.7rem;
  font-family: amiko-med;
  margin: 0.3rem 0;
}

.Underline {
  margin: auto;
  width: 60%;
  border-bottom: 2px solid var(--clr-wb-900);
}
.DescBig {
  font-size: 1.6rem !important;
  width: 80%;
  margin: auto;
}

.Desc {
  font-size: 1.2rem;
  font-family: amiko-med;
  position: relative;
  opacity: 1;
  min-height: 3rem;
  margin-top: 1rem;
  -webkit-transform: rotate(0deg), translateY(0);
  -ms-transform: rotate(0deg), translateY(0);
  transform: rotateX(0deg) translateY(0);
  transition: all 0.3s ease-in-out;
}
.FeaturedProduct:hover .Desc {
  opacity: 0;
  -webkit-transform: rotateX(-60deg) translateY(-120%);
  -ms-transform: rotateX(-60deg) translateY(-120%);
  transform: rotateX(-60deg) translateY(-120%);
}
.Buy {
  display: inline-block;
  background-color: var(--clr-wb-900);
  color: var(--clr-wb-100);
  font-family: amiko-med;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  padding-bottom: 0.8rem;
  border-radius: 1.6rem;

  position: relative;
  opacity: 0;
  -webkit-transform: rotate(30deg), translateY(0);
  -ms-transform: rotate(30deg), translateY(0);
  transform: rotateX(30deg) translateY(0);
  transition: all 0.3s ease-in-out;
}
.FeaturedProduct:hover .Buy {
  opacity: 1;
  -webkit-transform: rotateX(0deg) translateY(-100%);
  -ms-transform: rotateX(0deg) translateY(-100%);
  transform: rotateX(0deg) translateY(-100%);
}
.Buy:hover {
  background-color: var(--clr-wb-700);
}
@media only screen and (max-width: 31em) {
  .Cat {
    font-size: 0.9rem;
    border-radius: 0.8rem;
    padding: 2px 5px;
    padding-top: 4px;
    top: 0.8rem;
    left: 0.8rem;
  }
}
