.TopProducts {
  background-color: var(--clr-wb-100);
  margin: 2% auto;
  width: min(100%, 130rem);
  text-align: center;
}
.Title {
  padding: 2% 0;
  font-size: 4rem;
  font-weight: 600;
}
.FeaturedProductsContainer {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}
.MainProduct {
  width: 50%;
  display: flex;
  align-items: center;
}
.SubProductsList {
  width: 50%;
}
.SubProductsRow {
  display: flex;
}
.SubProductsRow > div {
  width: 50%;
}
@media only screen and (max-width: 47em) {
  .Title {
    font-size: 3rem;
  }
  .FeaturedProductsContainer {
    flex-direction: column;
  }
  .MainProduct {
    width: 100%;
  }
  .SubProductsList {
    width: 100%;
  }
}
